# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.obj.enc
*.exp
*.user

# Precompiled Headers
*.gch
*.pch

# PBAX
*.ipch 

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# SUO
*.suo

# db and Opendb
*.db
*.opendb
*.pdb
*.idb

# Log File
*.ilk
*.log
*.tlog

# State Build
*.lastbuildstate

# HLSL Compiled File
*.cso

# Solution VC DB
*Solution.VC.db-wal
*Solution.VC.db-shm
*.iobj
*.ipdb

/Debug
/Release
/Build
/intermediate
resources
!.txt
workspace
.vs
Network/.vs
!tinyxml2d.pdb
assimp-*.lib